*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}


.logo-container{
    position: relative;
    width: 100vw;
    height: 100vh;
}
#logoimg{
    position: absolute;
    width: 50vh;
    height: 32vh;

    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    cursor: pointer;
    z-index: 2;
}
#logoimg:hover{
    transform: translate(-50%,-50%) scale(1.1);
}
.logo-container >span{
    position: absolute;
    font-size:2em;
    font-weight: bolder;
    /*transform: translate(-50%,-50%);*/
    transition: all 1.5s;
    top: 45%;
    left: 20%;
    display:none;
}
#arrowimg{
    position: absolute;
    width: 10vw;
    height: 10vh;
    z-index: 3;
    top: 60%;
    left:-100px;
    transition: all .4s ease-out;

    transform: translate(-50%,-50%);
}

header{
    width: 100%;
    height: 100vh;
    z-index: 10;
    transition: all 1s;
    display: flex;
    justify-content: space-between;
}
nav{
    display: none;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: all 1s;
    margin-right: 10px;
}
nav >div{
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
nav >div >img{
    height: 60%;
    width: 60%;
}

main{
    /*transform: translate(0,10vh);*/
    display: none;
     height: 1000px;

}
.container-new-top{
    width: 100%;
    height: 41vh;
}
.newBook{
    display: flex;
    height: 25vh;
    width: 58%;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;margin: 5px;
    align-items: center;
    padding: 20px;
}
.newBook >div{
    width: 50vw;
    height: 30vh;

    background-color: transparent;
    border-radius: 10px;
    display: flex;
}
.newBook >h3{
    color: white;
    margin-left: 40px;
    font-size: 4em;
}
.newbooktap{
    position: absolute;
    width: 150px;
    height: 185px;
    background: #F7DA7F;
    background: radial-gradient(at center, #F7DA7F, #FCEFDC);
    border-radius: 10px;
    transition: all .3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    transform: scale(0.8);
}
.newbooktap >img{
    width: 100%;
    height: 100%;
}

.topBook{
    height: 25vh;
    width: 53%;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
    margin: 25px 0 0 560px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 20px;
}
.topBook >div{
    width: 50vw;
    height: 30vh;

    background-color: transparent;
    border-radius: 10px;
    display: flex;
}
.topBook >h3{
    color: white;
    margin-left: 40px;
    font-size: 4em;
}
.topbooktap{
    position: absolute;
    width: 150px;
    height: 185px;
    background: #F7DA7F;
    background: radial-gradient(at center, #F7DA7F, #FCEFDC);
    border-radius: 10px;
    transition: all .3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    transform: scale(0.8);
}
.topbooktap >img{
    width: 100%;
    height: 100%;
}

.container-books-category{
    margin-top: 150px;
    width: 100%;
    /*height: 150vh;*/
    display: flex;


}
.books{
    width: 70%;
    height: 70%;
    margin: 10px;
    padding: 20px;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
}
.books >div:first-child{
    width: 50%;
    height: 8%;
    margin: 3px;
}
.books >div:first-child >input{
    width: 100%;
    height: 100%;
    padding: 12px;
    border-radius: 12px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
}


.books >div:first-child >input:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
}

.books >div:first-child >input:active {
    transform: scale(0.95);
}

.input:focus {
    border: 2px solid grey;
}
.books >div:nth-child(2){
    width: 99%;
    height: 78%;
    margin: 3px;
    display: grid;
    gap: 20px 20px;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.book{
    position: relative;
    width: 150px;
    height: 185px;
    background: #F7DA7F;
    background: radial-gradient(at center, #F7DA7F, #FCEFDC);
    border-radius: 10px;
    transition: all .3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-shadow: none;
}
.book >img{
    width: 80%;
    height: 70%;
}
.book >span{
    font-size: 16px;
    color: #4d3828;
    font-weight: bolder;
}
.book:hover {
    box-shadow: 0 0 20px black;
    border: 1px solid #907E6F;
    cursor: pointer;
}

#books-numberpage{
    margin-left: 10px;
    display: flex;
}
#books-numberpage >div{
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    color: black;
    font-weight: bolder;
    font-size: 16px;
    transition: all .3s;
    cursor: pointer;
}
#books-numberpage >div:hover{
    transform: scale(0.8);
}


.category{
    width: 30%;
    height: 70%;
    margin: 10px;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
    display: flex;
    flex-direction: column;
    padding: 20px;

}
.category >div{
    margin-top: 10px;
   display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px 10px;

}
.category >div >div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;

    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 1px 1px 30px white;

cursor: pointer;
    height: 30px;

}

footer{
    width: 100%;
    height: 23vh;
    display: none;
    position: relative;

}
footer >span{
    position: absolute;
    top: 10%;
    left: 30%;
}

.custom-shape-divider-bottom-1701118054 {
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1701118054 svg {
    position: relative;
    display: block;
    width: calc(105% + 1.3px);
    height: 141px;
}

.custom-shape-divider-bottom-1701118054 .shape-fill {
    fill: #575757;
}