*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.container{
    width: 100%;
    height: 100vh;

    display: flex;
}

.container >div:first-child{
    width: 70%;
}
.container >div:last-child{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    gap: 15px;
}

.card {
    width: 190px;
    height: 104px;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
    -15px -15px 30px #ffffff;

    display: grid;
    grid-template-columns: 1fr 1fr;
}
.card >div:first-child{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: center;
    font-weight: bold;
}
.card >div:first-child >div{
    font-size: 0.8em;
    font-weight: lighter;
}
.card >img{
    margin: 10px 0 0 15px;
    width: 50px;
    height: 50px;
}
.card >div:last-child{
    grid-column: 2 span;
    display: flex;
    justify-content: space-around;

}
