*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("images/4118106.jpg");
    background-size: 100% 100%;
}

.cont-bt-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
}
.cont-bt-left >div{
    margin-right: 10px;
    width: 100px;
    height: 75px;
    background-color: #c6c6c6;
    border: 2px solid #8b8b8b;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont-bt-left >div >img{
    width: 80%;
    height: 80%;
}

.cont-bt-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
}
.cont-bt-right >div{
    margin-left: 10px;
    width: 100px;
    height: 75px;
    background-color: #c6c6c6;
    border: 3px solid #8b8b8b;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont-bt-right >div >img{
    width: 80%;
    height: 80%;
}
.hero{
    position: relative;
    width: 300px;
    height: 400px;
    border: 3px solid #8b8b8b;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero >img{
    width: 80%;
    height: 95%;
}
#head{
    position: absolute;
    width: 65%;
    height: 29%;
    top: 0;
}
#body{
    position: absolute;
    width: 70%;
    height: 35%;
    top: 28%;
}
#leg{
    position: absolute;
    width: 63%;
    height: 37%;
    bottom: 0;
}