*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Calibri Light";
}
:root{
    --index: calc(1vw + 1vh);
    --gutter: 30px;
}

body{
    background-color: black;
    color: white;
    font-size: calc(var(--index) * .8);
    line-height: 1.75;
    height: 4000px;
}
.container{
    width: 100%;
    height: 100%;
    position: fixed;
    perspective: 1000px;
}
.gallery{
    transform-style: preserve-3d;
    height: 100%;
}

.block{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block >div {
    display: flex;
    width: 350px;
    height: 300px;
    align-items: center;
    justify-content: space-between;
  perspective: 500px;

}
.pictures{
    background-color: black;
    border-radius: 20px;
    width: 100px;
    height: 100px;
}
.pictures:nth-child(1){
    margin-left: 20px;
}
.pictures:nth-child(2){
    margin-right: 40px;
}
.card{
    width: 150px;
    height: 100px;

    background-color: white;
    color: black;
    padding: 10px;
    /*border: 1px solid white;*/
    border-radius: 15px;
}
.card:nth-child(1),.card:nth-child(3) {
    transform: rotateY(30deg);
}
.card:nth-child(2),.card:nth-child(4) {
    transform: rotateY(-30deg);
}
